.buttonsContainer {
    display: flex;
    margin-top: 80px;
    align-items: center;
    text-align: center;
    margin-left: 50px;
}

.buttonsContainer button {
    height: 80px !important;
    width: 200px !important;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px !important;
}

.warning {
    margin-top: 10px;
}

.button.dark:hover,
.button.light:hover {
    background: rgb(130, 129, 129);
    cursor: pointer;
}

.button.dark {
    background: rgb(82, 80, 80);
    color: lightgray;
}

.button.light {
    background: rgb(199, 194, 194);
    color: black;
}

.warning.dark {
    color: rgb(129, 122, 122);
}

.warning.light {
    color: rgb(114, 111, 111);
}