.box>h2 {
    position: sticky;
    background-color: inherit;
    width: 100%;
    height: 35px;
    font-size: 1.3em;
    margin-top: 10px;
    margin-left: 10px;
}

.box {
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    border-radius: 15px;
    max-height: 350px;
    width: 21vw;
    background: white;
    margin-left: 15px;
    margin-top: 10px;
}

.box.dark {
    background-color: rgb(24 24 24)
}

.box.light {
    background-color: white;
}

.dark>h2 {
    color: white;
}

@media (max-width:1250px) {

    /*removing the box */
    .box {
        display: none;
    }

    /*Making the hidden box under Post Form vissible*/
    .mobile-people>.box {
        display: block;
        height: 260px;
        margin-bottom: 15px
    }
}

@media(max-width:800px) {
    .mobile-people>.box {
        margin-left: 5px;
        margin-right: 5px;
        width: 97vw;
    }

}

@media (min-width:800px) and (max-width: 1250px) {
    .mobile-people>.box {
        height: 260px;
        display: block;
        margin-left: 5px;
        margin-right: 5px;
        width: 86%;
        margin-left: 50px;
        margin-bottom: 15px
    }

}

@media (min-width:1251px) and (max-width:1500px) {
    .box {
        width: 40vw;
        transform: translateX(-10%);
    }
}

@media (min-width:1501px) and (max-width:1800px) {
    .box {
        transform: translateX(-20%);
    }
}