.formBox {
    overflow: hidden;
    margin-top: 120px;
    position: relative;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    min-height: 300px;
    max-height: 800px;
    width: 600px;
}

.formBox h2 {
    color: #D18CE0;
    margin-top: 10px;
    font-size: 2em;
}

.formBox.dark {
    background-color: rgb(40, 40, 40);
}

.formBox.light {
    background-color: white;
}

.inputContainer {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-top: 25px;
    width: 90%;
    margin-left: 25px;
}

.label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}

.input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
}

.dark>.input {
    color: white;
}

.dark>.label {
    color: white;
}

.light>.label {
    color: black;
}

.input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #D18CE0;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label {
    top: -12px;
    font-size: 15px;
}

.textarea {
    resize: none;
    font-family: Poppins, sans-serif;
    outline: none;
    font-size: 17px;
    padding-left: 5px;
    width: 84%;
    border: none;
    transition: all 0.4s ease;
}

.textarea.dark {
    color: white;
    background-color: rgb(24 24 24)
}

@media (max-width:799px) {
    .formBox {
        margin-top: 80px;
        width: 95vw;
        min-height: 300px;
        max-height: 1000px;
        margin-left: 2%;
    }
}

@media (min-width:800px) and (max-width:1250px) {
    .formBox {
        width: 70vw;
    }
}