/*NavBar Layout*/
.navbar {
    position: fixed;
    text-align: center;
    height: 70px;
    width: 100vw;
    padding: 25px 0;
    box-sizing: border-box;
    margin-bottom: 30px;
    z-index: 2;
    transition: all 0.4s ease;
}

.mobile {
    display: none !important;
}

.navbar a {
    text-decoration: none;
}

/*Navbar themes*/
.navbar.light {
    background-color: white;
}

.navbar.dark {
    background-color: rgb(24 24 24)
}

/*Navbar Content*/

.navbar-content {
    height: 25px;
    display: flex;
    align-items: center;
}

.nav-item {
    position: relative;
    text-align: center;
    display: flex;
    padding: 15px;
}

.nav-item:hover {
    cursor: pointer;
    filter: invert(40%);
}

.title {
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.title h2 {
    color: aqua;
}

.navbar img {
    width: 25px;
    height: 25px;
}

/*Nav Content Themes*/
.dark>.navbar-content>.nav-item img {
    filter: invert(60%);
}


/*Search Users Input*/
.input-wrapper {
    position: absolute;
    left: 200px;
    border-radius: 15px;
    margin-left: 35px;
    width: 40px;
    transition: width 0.2s ease;
    background-color: transparent !important;
}

.input-wrapper.focused {
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    vertical-align: top;
    margin-top: 295px;
    height: 350px;
    width: 420px;
}


.dark>.navbar-content>.title>.input-wrapper.focused {
    background-color: rgb(24 24 24) !important;
}

.light>.navbar-content>.title>.input-wrapper.focused {
    background-color: white;
}

.input-wrapper.focused>.nav-input {
    margin-top: 8px;
    width: 85%;
}

.nav-input {
    color: black !important;
    font-size: 1.1em;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left !important;
    background-size: 30px !important;
    padding-left: 35px;
    margin-left: 5px;
    width: 1px;
    height: 35px;
    border-radius: 15px;
    border: none;
    transition: width 0.2s ease;
}

.nav-input::placeholder {
    color: transparent;
}

.nav-input:focus::placeholder {
    color: black;
}

/*Themes for user Search*/
.dark>.navbar-content>.title>.input-wrapper.focused>.nav-input {
    background-color: rgb(255, 255, 255) !important;
}


.light>.navbar-content>.title>.input-wrapper.focused>.nav-input {
    background-color: lightgray !important;
}

.dark>.navbar-content>.title>.input-wrapper {
    background-color: rgb(70, 70, 70);
}

.light>.navbar-content>.title>.input-wrapper {
    background-color: white !important;
}

.dark>.navbar-content>.title>.input-wrapper>.nav-input {
    filter: invert(70%);
}

.light>.navbar-content>.title>.input-wrapper {
    background-color: lightgray;
}


.nav-item p {
    font-size: 0.9em;
    font-weight: bold;
    padding: 3px;
    color: lightgray;
    text-decoration: none;
    margin-right: 20px;
}

.light .nav-item p {
    color: rgb(53, 52, 52);
}

.guest-button {
    display: flex;
}

.name {
    margin-right: 12px;
}

.title h2:hover {
    color: aquamarine;
}

/*Nav Friends for mobile devices*/


.nav-friends.show {
    animation-name: showElement;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

.nav-friends.hidden {
    animation-name: hideElement;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

.nav-friends {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 1;
    border-radius: 15px;
    top: 80px;
    left: 10%;
    background-color: white;
    position: absolute;
    height: 370px;
    width: 85vw;
}

.dark>.nav-friends {
    background-color: rgb(24 24 24) !important;
}

@keyframes showElement {
    from {
        opacity: 0;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hideElement {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-5%);
    }
}

/*Theme for nav friends*/
.dark>.navbar-content>.nav-friends {
    background-color: rgb(24 24 24);
}

/*User dropdown Menu*/
.user-dropdown-button {
    width: 45px;
    align-items: center;
    display: flex;
}

.user-dropdown-button p {
    transition: all 0.4s ease;
}

.user-dropdown-image {
    cursor: pointer;
    border-radius: 50%;
    height: 35px !important;
    width: 35px !important;
    filter: invert(0%) !important;
}

.user-dropdown-menu {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    height: 200px;
    width: 150px;
    top: 80px;
    left: calc(100vw - 160px);
}

.user-dropdown-menu button,
.user-dropdown-menu a {
    align-items: center;
    margin: auto;
    display: grid;
    width: 100%;
    height: calc(200px / 3);
    background-color: inherit;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.user-dropdown-menu button:hover,
.user-dropdown-menu a:hover {
    background-color: rgb(128, 123, 123);
    color: aqua !important
}

.user-dropdown-menu.dark button,
.user-dropdown-menu.dark a {
    color: white;
}

.user-dropdown-menu.light {
    background: white;
}

.user-dropdown-menu.dark {
    background-color: rgb(24 24 24)
}

.user-dropdown-menu.show {
    animation-name: showElement;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

.user-dropdown-menu.hidden {
    animation-name: hideElement;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

@media (max-width:600px) {

    .input-wrapper.focused>.nav-input {
        width: 75%;
    }

    .nav-input {
        background-size: 25px !important;
        overflow: hidden;
    }

    .navbar .title h2 {
        font-size: 0.7em
    }

    .input-wrapper {
        left: 77px !important
    }
}

@media (max-width:800px) {
    .input-wrapper.focused {
        left: -28px !important;
        position: absolute;
        transition: all 0.2s;
        z-index: 2;
        width: 86vw !important;
    }

    .navbar img {
        width: 20px;
        height: 20px;
    }

    .mobile {
        display: flex !important;
    }


}

@media(max-width:1450px) {

    .nav-item {
        margin-top: 4px;
        margin-right: 10px;
        padding: 0px !important;
    }
}