.buttonsContainer {
    display: flex;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin-left: 60%;
}

.buttonsContainer button {
    height: 50px !important;
    width: 120px !important;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px !important;
}

.warning {
    margin-top: 10px;
}

.button.dark:hover,
.button.light:hover {
    background: rgb(130, 129, 129);
    cursor: pointer;
}

.button.dark {
    background: rgb(82, 80, 80);
    color: lightgray;
}

.button.light {
    background: rgb(199, 194, 194);
    color: black;
}

.warning.dark {
    color: rgb(129, 122, 122);
}

.warning.light {
    color: rgb(114, 111, 111);
}

@media (max-width:500px) {
    .buttonsContainer {
        margin-left: 0;
    }
}