@keyframes changeOpacity {
    from {
        filter: blur(13px);
        opacity: 0;
        transform: translateX(-10%);
    }

    to {
        filter: blur(0);
        opacity: 1;
        transform: translateX(0%);
    }
}

.widgetBox {
    animation-name: changeOpacity;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    position: fixed;
    border-radius: 15px;
    width: 400px;
    min-height: 200px;
    margin-bottom: 15px;
    transition: all 0.4s ease;
}

.user {
    margin-top: 20px;
    text-align: left;
    display: flex;
}

.user>img {
    margin-left: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.friends {
    margin-top: 5px;
    margin-left: 10px;
}

.dark h3 {
    color: white;
}

.name {
    display: block;
}

h3 {
    margin-top: 10px !important;
    margin-left: 10px !important;
    overflow: hidden;
}

.hr {
    width: 90%;
    height: 2px;
    border: none;
}

.stat {
    margin-top: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.stat img {
    height: 35px;
    width: 35px;
}

.stat.dark img {
    filter: invert(100%);
}

.stat p {
    font-size: 0.9em;
    margin-left: 10px;
}

.dark>.hr {
    background-color: rgb(64, 63, 63);
}

.light>.hr {
    background-color: rgb(237, 237, 237);
}

.stats {
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}




.dark>p {
    color: rgb(161, 161, 162);
}

.light>p {
    color: rgb(111, 111, 113);
}



.widgetBox.light {
    background-color: white;
}

.widgetBox.dark {
    background-color: rgb(24 24 24)
}

@media (max-width: 800px) {
    .widgetBox {
        margin-left: 5px;
        margin-top: 0;
        width: 97vw;
        position: relative;
    }

    .user {
        padding-top: 15px;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .widgetBox {
        width: 36vw;
    }

    .likes {
        margin-left: auto;
        padding-right: 20px;
    }
}