form {
  text-align: center;
}

input,
label {
  display: block;
}

body {
  overflow-x: hidden;
}

body {
  overflow-y: auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App {
  min-width: 100%;
  min-height: 100dvh;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  transition: all 0.4s ease;
}

.App.light {
  background-color: rgb(206, 203, 203);
}

.App.dark {
  background-color: rgba(40, 43, 54, 1) !important
}

.profile-page-item {
  min-width: 400px;
  margin-left: 10px;
  padding: 10px;
}

.page {
  padding-top: 90px;
  text-align: center;
  display: flex;
  margin-left: 100px;
}

.page-item {
  text-align: center;
  min-width: 330px;
  margin-right: 0;
  margin-left: 10px;
  padding: 10px;
}


.btn {
  align-items: center;
  background-color: purple;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn:hover,
.btn:focus {
  background-color: rgb(60, 0, 60);
  color: #ffffff;
}

.btn:active {
  background: rgb(60, 0, 60);
  color: rgb(255, 255, 255, .7);
}

.btn:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.form-btn.btn {
  font-size: 1.5em;
  margin-top: 20px;
  height: 70px;
  width: 240px;
  overflow: hidden;
}

.button.btn {
  font-size: 0.8em;
  margin-left: auto;
  width: 82px;
  height: 35px;
  display: flex;
}

.profile-image {
  width: 43px !important;
  height: 43px !important;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width:799px) {
  .profile-page-item {
    margin-right: 0px;
    padding: 0px;
    margin: 0px;
  }

  .profile-page-item {
    margin-left: 4px;
  }

  .page-item:nth-child(1),
  .page-item:nth-child(3) {
    display: none;
  }

  .page-item {
    margin-left: 0px;
    padding: 0px;
  }

  .page {
    display: block;
    overflow-x: hidden;
    margin-left: 0px;
    text-align: left;
    width: 100%;
  }
}

@media (min-width:580px) and (max-width:799px) {

  .page-item:nth-child(1),
  .page-item:nth-child(3) {
    display: none;
  }

  .page-item {
    margin-left: 0px;
    padding: 0px;
  }

  .page {
    margin-left: 0px;
    text-align: left;
    width: 100vw;
  }
}

@media (min-width:800px) and (max-width:1250px) {
  .profile-page-item {
    min-width: 34vw;
  }

  .page-item {
    min-width: 34vw
  }

  .page-item:nth-child(1) {
    margin-left: 10px;
  }

  .page-item:nth-child(3) {
    display: none;
  }

  .page {
    margin-left: 0px;
    text-align: center;
    width: 100vw;
  }
}

@media (min-width:1250px) and (max-width:1850px) {
  .page:nth-child(1) {
    min-width: 33vw !important;
  }

  .page:nth-child(2) {
    min-width: 36vw;
  }

  .profile-page-item {
    padding: 0;
  }

  .page {
    margin-right: 20px;
    margin-left: 0px !important;
    text-align: center;
    width: 100vw;
  }
}