form {
  text-align: center;
}

input,
label {
  display: block;
}

body {
  overflow-x: hidden;
}

body {
  overflow-y: auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App {
  min-width: 100%;
  min-height: 100dvh;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  transition: all 0.4s ease;
}

.App.light {
  background-color: rgb(237, 237, 237);
}

.App.dark {
  background-color: rgba(40, 43, 54, 1) !important
}

.profile-page-item {
  min-width: 400px;
  margin-left: 10px;
  padding: 10px;
}

.page {
  padding-top: 90px;
  text-align: center;
  display: flex;
  margin-left: 100px;
}

.page-item {
  text-align: center;
  min-width: 330px;
  margin-right: 0;
  margin-left: 10px;
  padding: 10px;
}

.form-btn {
  cursor: pointer;
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid aqua;
  background: none;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 70px;
  width: 240px;
  overflow: hidden;
}

.btn {
  position: relative;
  border: 1px solid aqua;
  background: none;
  color: black;
  margin-left: auto;
  font-weight: bold;
  width: 82px;
  height: 35px;
  border-radius: 8px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.btn:before,
.form-btn::before {
  border-radius: 7px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: aqua;
  transition: all 0.5s;
  z-index: -1;
}

.btn:hover:before,
.form-btn:hover:before {
  width: 100%;
}

.btn.dark,
.form-btn.dark {
  color: white;
}

.profile-image {
  width: 43px !important;
  height: 43px !important;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width:799px) {
  .profile-page-item {
    margin-right: 0px;
    padding: 0px;
    margin: 0px;
  }

  .btn {
    width: 75px !important;
  }

  .btn span {
    font-size: 0.8em;
  }

  .profile-page-item {
    margin-left: 4px;
  }

  .page-item:nth-child(1),
  .page-item:nth-child(3) {
    display: none;
  }

  .page-item {
    margin-left: 0px;
    padding: 0px;
  }

  .page {
    display: block;
    overflow-x: hidden;
    margin-left: 0px;
    text-align: left;
    width: 100%;
  }
}

@media (min-width:580px) and (max-width:799px) {

  .page-item:nth-child(1),
  .page-item:nth-child(3) {
    display: none;
  }

  .page-item {
    margin-left: 0px;
    padding: 0px;
  }

  .page {
    margin-left: 0px;
    text-align: left;
    width: 100vw;
  }
}

@media (min-width:800px) and (max-width:1250px) {
  .profile-page-item {
    min-width: 34vw;
  }

  .page-item {
    min-width: 34vw
  }

  .page-item:nth-child(1) {
    margin-left: 10px;
  }

  .page-item:nth-child(3) {
    display: none;
  }

  .page {
    margin-left: 0px;
    text-align: center;
    width: 100vw;
  }
}

@media (min-width:1250px) and (max-width:1850px) {
  .page:nth-child(1) {
    min-width: 33vw !important;
  }

  .page:nth-child(2) {
    min-width: 36vw;
  }

  .profile-page-item {
    padding: 0;
  }

  .page {
    margin-right: 20px;
    margin-left: 0px !important;
    text-align: center;
    width: 100vw;
  }
}